# ------------------ Security
*.env

# ------------------ Raw Data
Cleaning & Modeling/Raw Data/

# ------------------ References
Cleaning & Modeling/Lexicon References/

# ------------------ Cache
Cleaning & Modeling/__pycache__/
Analytics & Visualization/__pycache__/

# ------------------ Settings
.vscode/

# ------------------ Our Data
Shared Data/

# ----------------- App Settings
Settings/